**/.DS_Store
.gcs_entries
**/dmg
**/env
**/logs
**/old-scripts
**/__pycache__/**
nxtscape-cli-access.json
gclient.json
resources/media/nxtscape-chat.gif
resources/media/nxtscape-productivity.gif
resources/media/nxtscape-agent.gif
